# SConstruct
*.dblite
__pycache__
*.pyc
.scons_cache/

# Visual Studio Cache
.vs/

# VSCode Cache
.vscode/

# Binaries
.DS_Store
*.obj
*.iobj
#*.so
#*.dll
*.o
#*.dylib
*.pdb
*.ipdb
*.ilk
*.exe
*.264
*.exp
*.lib
*.vcxproj.user
*.os
*.out

used_classes.json

.import/
.godot/
.mono/
obj/
bin/
libs/
testsuite/images/
testproject/addons/
testproject/testsuite/
SUCCESS